@import "../../theme/variables.scss";

.seriesPage {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  &__container {
    width: 91%;
  }
  &__presentation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__presentationInfo {
    & h1 {
      margin: 0.2rem;
      font-size: 2.5rem;
    }
  }

  &__headerIcons {
    font-size: 1.5rem;
    &--yellow {
      font-size: 1.5rem;
      color: $color-primary;
    }
  }

  &__presentationScore {
    display: flex;
  }

  &__score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &__visuals {
    display: flex;
    flex-direction: row;
    max-height: 28.5rem;
    width: 100%;
    margin-top: 1rem;
  }

  &__poster {
    width: 22%;
  }

  &__video {
    width: 59%;
    max-height: 28.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    & img {
      width: 100%;
    }
  }

  &__visualsCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 19%;
    max-height: 28.5rem;
  }
  &__visualBox {
    background-color: $color-secondary;
    width: 100%;
    height: 49%;
    max-height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__genres {
    margin-top: 1rem;
    display: flex;
  }

  &__genre {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid white;
    border-radius: 20px;
  }

  &__spinner {
    height: 92.3vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
