@import "../../theme/variables.scss";
.profile {
  width: 100%;
  background-color: black;
  min-height: 93vh;

  &__backRow {
    width: 100%;
    display: flex;
    justify-content: start;
    &--element {
      margin: 1rem;
      color: white;
      font-size: 2rem;
    }
  }

  &__header {
    display: flex;
    padding: 1rem;
    img {
      height: 10rem;
      border-radius: 50%;
      border: 3px solid $color-primary;
    }
  }

  &__headerData {
    color: white;
    padding-left: 2rem;

    h1 {
      margin-top: 0;
    }
  }

  &__watchlist,
  &__scored {
    color: white;

    h3 {
      padding-left: 1rem;
      font-size: 2rem;
    }
  }
}
