@import "../../theme/variables.scss";

.home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;

  &__trendingSeries {
    color: white;
    width: 95%;
    font-size: 1.5rem;
    font-weight: 800;
    & h2 {
      color: $color-primary;
    }
  }
}
