@import "../../theme/variables.scss";

.home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;

  &__normalList {
    color: white;
    width: 95%;
    font-weight: 800;
    & h2 {
      font-size: 3rem;
      color: $color-primary;
      @media (max-width: 576px) {
        font-size: 1.5rem;
      }
    }
  }

  &__spinner {
    height: 92.3vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
